@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@layer base {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body {
    font-family: 'Outfit', sans-serif;
    background-color: #0F172A;
    color: #fff;
  }
  * {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge */
}

*::-webkit-scrollbar {
  display: none; /* Chrome/Safari */
}

/* Hide default browser password reveal and clear buttons */
input::-ms-reveal,
input::-ms-clear {
  display: none;
}

}